<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--按类型自动装配bean-->
    <bean id="bookDao" name="dao" class="ssm.dao.impl.BookDaoImpl"/>
        <!--按类型装配会自动装配BookServiceImpl类中的bookDao，而bookDao的实例化又会自动调用上一行-->
    <bean id="bookService" class="ssm.service.impl.BookServiceImpl" autowire="byType"/>

    <!-- 1.开启context命名空间-->
    <!-- 2.使用context命名空间加载properties文件-->
    <context:property-placeholder location="application.properties"/>
    <!--使用属性占位符${}读取properties中的属性 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driver" value="${spring.datasource.driver-class-name}"/>
        <property name="url" value="${spring.datasource.url}}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>
</beans>