<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue常用指令3_v-if和v-show</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
<!--    v-if: 条件性的渲染该元素，ture就渲染-->
<!--    v-show: 根据条件展示某元素，区别在于切换的是display属性的值 -->
  <div id="app">
    年龄<input type="text" v-model="age">经判断，为:
    <span v-if="age <= 35">年轻人</span>
    <span v-else-if="age <= 60">中年人</span>
    <span v-else>老年人</span>
  </div>
</body>
<script>
  new Vue({
    el: "#app",
    data: {
      age: 12
    },
    methods: {

    }
  })
</script>
</html>