<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>例子</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
  <table id="form" border="1" cellspacing="0" width="60%">
    <thead>
      <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>成绩</th>
        <th>等级</th>
      </tr>
    </thead>
    <tbody>
      <tr align="center" v-for="(user,id) in users">
        <td>{{id+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>
          <span v-if="user.gender == 1">男</span>
          <span v-else>女</span>
        </td>
        <td>{{user.score}}</td>
        <td>
          <span v-if="user.score >=80">优秀</span>
          <span v-else-if="user.score >= 60">及格</span>
          <span style="color: red" v-else>不及格</span>
        </td>
      </tr>
    </tbody>

  </table>
</body>
<script>
  new Vue({
    el: "#form",
    data: {
      users: [{
          name: "Tom",
          age: 20,
          gender: 1,
          score: 78
        }, {
        name: "Rose",
        age: 18,
        gender: 2,
        score: 86
      }, {
        name: "Jerry",
        age: 26,
        gender: 1,
        score: 90
      }, {
        name: "Tony",
        age: 30,
        gender: 1,
        score: 52
      }]
    }
  })
</script>
</html>